<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">


        <% include partials/head%>

  </head>
  <body>

        <% include partials/navigation%>


            <!-- MAIN CONTENT -->

            <div class="container" id= "inicio">
              <header class="row">
                <div class="col-lg-12 text-center p-5">
                  <img src="/img/pantera.jpg" class="w-auto animated bounceIn" alt="Website Logo">
                </div>
              </header>
            </div>

                  <header >

                                        <!-- section one -->

                        <section>
                              <div class="container-fluid" id="testimonios">
                                <div class="row bg-dark text-white p-5 text-center">
                                  <div class="col-sm-6 ">
                                    <i class="fab fa-youtube fa-10x animated fadeInLeftBig"></i>
                                  </div>
                                  <div class="col-sm-6 animated rotateInUpRight">
                                    <h3>The most subscribed Youtuber</h3>
                                    <p>
                                      <span>Elit exercitationem id illo sit distinctio. Deserunt ut debitis voluptates mollitia dignissimos eligendi vel quidem itaque dolores ratione ut. Soluta accusantium dolor nemo suscipit rerum. Aliquid quasi excepturi provident eos.</span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                        </section>


                          <!-- section two -->

                            <header>
                              <section>
                                      <div class="container-fluid  " id="about">
                                        <div class="row bg-dark text-white p-5 text-center">
                                          <div class="col-sm-6 animated rotateInUpRight">
                                            <h3>The most subscribed Youtuber</h3>
                                            <p>
                                              <span>Elit exercitationem id illo sit distinctio. Deserunt ut debitis voluptates mollitia dignissimos eligendi vel quidem itaque dolores ratione ut. Soluta accusantium dolor nemo suscipit rerum. Aliquid quasi excepturi provident eos.</span>
                                            </p>
                                          </div>

                                          <div class="col-sm-6">
                                            <i class="fab fa-youtube fa-10x animated fadeInLeftBig"></i>
                                          </div>

                                        </div>
                                      </div>
                              </section>

                            </header>
                          <!-- section three -->

                          <header>
                            <section>
                                    <div class="container-fluid" id="ubicacion">
                                      <div class="row bg-dark text-white p-5 text-center">
                                        <div class="col-sm-6 animated rotateInUpRight">
                                          <h3>The most subscribed Youtuber</h3>
                                          <p>
                                            <span>Elit exercitationem id illo sit distinctio. Deserunt ut debitis voluptates mollitia dignissimos eligendi vel quidem itaque dolores ratione ut. Soluta accusantium dolor nemo suscipit rerum. Aliquid quasi excepturi provident eos.</span>
                                          </p>
                                        </div>

                                        <div class="col-sm-6">
                                          <i class="fab fa-youtube fa-10x animated fadeInLeftBig"></i>
                                        </div>

                                      </div>
                                    </div>
                            </section>
                          </header>


                        <!--contact -->
                        <header>
                          <section>
                            <div class="container p-5 " id= "contact">
                              <div class="row">
                                <div class="col-sm-4 offset-md-4">
                                  <div class="card animated flipInY">
                                    <div class="card-header bg-dark text-white text-center">
                                      <h3>Contact Me</h3>
                                    </div>
                                    <div class="card-body">
                                      <form action="">
                                        <div class="form-group">
                                          <input class="form-control" type="text" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                          <textarea class="form-control" name="" cols="30" rows="10" placeholder="Message"></textarea>
                                        </div>
                                        <div class="form-group">
                                          <button class="btn btn-primary btn-block">
                                            Save
                                          </button>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </header>


                  </header>
  <% include partials/footer%>



  </body>
</html>
