
<nav class="navbar navbar-expand-lg navbar-dark bg-dark animated fadeInDownBig fixed-top">
  <div class="container">
        <a class="navbar-brand" href="/" > <%= title %> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto " >
            <li class="nav-item active">
              <a class="nav-link" href="#inicio"> Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#testimonios">Testimonios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ubicacion">Ubicacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#contact">Contacto</a>
            </li>
          </ul>
        </div>
  </div>
</nav>
